#book{
	margin-top: 30px;
}

#gotMovie{
	margin-top: 30px;
}

#bookInfo{
	margin-top: 30px;
}

.bookImage{
	height: 180px;
	width: 130px;
	/*margin: 15px;*/
}

#bookTitle{
	font-size: 30px;

}

#movieTitle{
	font-size: 30px;
	text-align: center;
}

#iframe{
	margin-top: 30px;
	text-align: center;
}

nav{
	background-color: lightgray;

	overflow: hidden;
	height: 6vw !important;
}

#searchBox{
	border: solid 1px lightgray !important;
	padding: 10px !important;
	margin-top: 3vw !important;
}

#poll{
	/*border: solid 1px lightgray !important;*/
	padding: 10px !important;
	margin-top: 3vw !important;
	width: 100% !important;
	text-align: center;
}

#search{
	margin-top: 10px !important;
}

label{
	margin-top: 5px !important;

}
.card{
	float: left;
	/*border: solid 1px lightgray !important;*/
	/*margin: 10px;*/
	height: 16vw;
	/*margin: 2px;*/
}

#bookPoster{
	margin-top: 4vw;
}

#myImg{
	float: left;
	height: 16vw;
	width: 12vw;
}

#bookInfo{
	/*float: left;*/
}

#myTitle{
	font-size: 30px;
	text-align: center;
}

#myBook{
	margin-top: 2vw !important;
	/*text-align: center;*/
}

#myMovie{
	margin-top: 2vw !important;
	/*text-align: center;*/
}

#myPoster{
	margin-top: 2vw !important;
	/*text-align: center;*/
}

#moviePoster{
	margin-top: 2vw !important;
	/*text-align: center;*/
}

#movieInfo{
	margin-top: 30px;
	/*text-align: center;*/
}

#movieButton{
	margin: 10px !important;
	/*background-color: lightblue !important;*/
	padding-right: 20px !important;
	padding-left: 20px !important;
}

#trailer{
	font-size: 25px;
	text-align: center;
	margin-top: 5vw;
}

.glyphicon-thumbs-up{
	font-size: 1.5vw;

}

.glyphicon-thumbs-down{
	font-size: 1.5vw;
}

span{
	margin-right: 2vw;
	margin-left: 1vw;
}

.vote{
	font-size: 1.5vw;
}

#img-holder{
	border: solid 1px lightgray !important;
	padding: 2vw;
	overflow: hidden;
	width: 17.5vw;
	margin-top: 3vw;
	margin-left: 1.5vw;
}

#find{
	font-size: 1.5vw;
	/*margin-top: 3vw !important;*/
	/*margin: 1vw;*/
}