#topLeft{
	background-color: red;
	height: 50vh;
}
#topRight{
	background-color: blue;
	height: 50vh;
}
/*#bottomLeft{
	background-color: black;
	height: 50vh;*/
}
#row2{
	background-color: pink;
	height: 50vh;
}